<p-scrollPanel [style]="{width: '100%', height: '500px'}">
  <div class="section-content">
    <h2>Mi Familia</h2>
    <p-card>
      <p>
        Mi familia es mi mayor tesoro. Siempre han sido mi apoyo incondicional y mi fuerza. 
        Siempre hemos sido solo mi mamá, mis dos hermanas y yo, ellas han estado ahí en cada paso, decisión y logro que he tenido.
      </p>
      <p>
        También tengo dos gatitos que tienen 7 y 4 años, son una pieza muy importante en mi vida, siempre están ahí conmigo, me encanta dormir con ellos, verlos dormir y mimarlos. 
        La mejor parte de mi día es poder llegar a mi casa ver a mi mamá y a mis gatitos.
      </p>
    </p-card>
    
    <div class="gallery-container">
      <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '800px'}" 
                  [numVisible]="3" [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" [alt]="item.alt" style="width: 100%; display: block;"/>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</p-scrollPanel>