// Estilos base 
.section-container {
  padding: 2rem; //espacio interno
  max-width: 1200px; //ancho maximo del contenido
  margin: 0 auto; //centrar horizontalmente el contenedor
  background-color: #f3e5f5; //fondo
  border-radius: 8px; //bordes redondeados
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); //sombre

  //contenedor del texto
  .text-content {
    h2 {
      color: #7e57c2; //color titulo
      font-size: 2rem; //tamano titulo
      margin-bottom: 1.5rem; //espacio debajo del titulo
      text-align: left; // alineacio a la izquierda
    }

    p {
      color: #030303da; //texto
      font-size: 1.1rem; //tamaño texto
      line-height: 1.6; //altura entre lineas
      margin-bottom: 1rem; //espacio inferior
      text-align: justify; //justificacion del texto
    }
  }

  .gallery {
    margin-top: 2rem; //espacio superior
    display: flex; //organiza los elementos con flexbox
    justify-content: center; //centra los elementos horizontalmente
  }
}

//reduce el tamaño a pantallas medianas
@media (max-width: 768px) {
  .section-container {
    padding: 1.5rem; //reduce el espacio interno

    .text-content {
      h2 {
        font-size: 1.8rem; //reduce el titulo
      }

      p {
        font-size: 1rem; //reduce el texto
      }
    }
  }
}

//reduce el tamaño a pantallas pequeñas
@media (max-width: 480px) {
  .section-container {
    padding: 1rem; //reduce el espacio interno

    .text-content {
      h2 {
        font-size: 1.5rem; //reduce el titulo
      }

      p {
        font-size: 0.9rem; //reduce el texto
      }
    }
  }
}
