<div class="section-container">
  <div class="text-content">
    <h2>Mis Hobbies</h2>
    <p>Me encanta leer novelas románticas y de fantasía, también algunos libros de crecimiento personal. 
      No soy muy amante a escuchar música, pero cuando lo hago escucho algo tranquilo, nada muy estruendoso. Hago manualidades a crochet, peluches, llaveros y estoy intentando hacer prendas.</p>
    <p>También disfruto ver series los fines de semana, salir a comer con mis amigos o familia, salir a la ciclovía, hacer deporte cuando puedo, ir de caminata y tomar fotografías.</p>
    <p>La oportunidad y posibilidad que tengo de hacer las cosas que me gustan es algo que agradezco y valoro cada día.</p>
    
    <div class="gallery">
      <p-galleria 
        [value]="images" 
        [(activeIndex)]="activeIndex" 
        [responsiveOptions]="responsiveOptions" 
        [containerStyle]="{'max-width': '800px', 'margin': '0 auto'}"
        [circular]="true" 
        [fullScreen]="true" 
        [showItemNavigators]="true" 
        [showThumbnails]="false"
        [showIndicators]="true">
        
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" [alt]="item.alt" style="width: 100%; max-height: 500px; object-fit: contain;"/>
        </ng-template>
        
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" [alt]="item.alt" style="display: block; width: 60px; height: 40px; object-fit: cover;"/>
          </div>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>