// Estilos globales 
body {
  font-family: 'Georgia'; //fuente principal
  background-color: #f8f9fa; //color de fondo general
  margin: 0; //elimina el margen predeterminado
  line-height: 1.5; //altura de linea
}

// Estilo para las secciones principales
.section-container {
  background-color: #ffffff; // fondo para destacar el contenido
  border-radius: 10px; //borde redondeado
  box-shadow: 0 4px 6px rgb(0, 0, 0); //sombra
  margin: 2rem auto; //margen vertical y centrado horizontal
  max-width: 1200px; //ancho maximo
  padding: 2rem; //espacio interno
  transition: transform 0.3s ease, box-shadow 0.3s ease; //animaciones

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); //sombra al pasar el cursor
    transform: translateY(-5px); //eleva el contenedor un poco
  }

  h2 {
    color: #9875d5; //color titulos
    font-size: 2rem; //tamaño titulo
    margin-bottom: 1.5rem; // espacio inferior
    position: relative; 
    padding-bottom: 0.5rem; //espacio para subrayado decorativo

    &::after {
      content: ''; //linea decorativa
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 4px;
      background: linear-gradient(90deg, #7e57c2, #c4b1e8);
    }
  }

  p {
    color: #555; //color texto
    font-size: 1.1rem; 
    line-height: 1.8; //espaciado mas amplio
    margin-bottom: 1.5rem; //separacion entre parrafos
  }
}

// Estilo para la galería de imágenes
.gallery {
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden; //ocaultar bordes de elementos
  
  .p-galleria {
    border: 8px solid white; //borde de las imagenes
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.942); //sombre
    border-radius: 8px; //borde circular
    
    .p-galleria-item-wrapper {
      border-radius: 4px; //suavisa los bordes
    }
    
    img {
      border-radius: 4px; //bordes redonde ados de las imagenes
      transition: transform 0.3s ease; // animacion
      
      &:hover {
        transform: scale(1.02); //efecto de zoom al pasar el mouse
      }
    }
  }
}


