//contenedor para la navegacion entre secciones
.navigation-container {
  padding: 0 1rem; //espacio a los lados
  max-width: 1200px; //anchor maximo
  margin: 1rem auto; //margen vertical y centrado horizontal
}

//encapsula estilos en los componentes de angular
:host ::ng-deep {
  //tabla de menu primeng
  .p-tabmenu {
    width: 100%; //ocupa el ancho disponible
    color:#f8f8f800; //color del contorno del menu
    //menu de navegacion
    .p-tabmenu-nav {
      justify-content: center; //centra los items horizontalmente
      background: transparent; //fonfo transparente
      border: none; //sin bordes
      
      .p-menuitem-link {
        background: #fcfcfc;
        border: none;
        color: #7e57c2; //color texto
        margin: 0.4rem 0.5rem; //espacio entre items
        border-radius: 50px; //bordes redondos
        padding: 0.75rem 1.5rem; //espacio interno
        transition: all 0.3s ease; //animacion al pasar el hover
        box-shadow: 0 4px 6px rgba(119, 13, 154, 0.46); // sombra
        
        &:hover {
          background: #7e57c2; //cambia fondo a purpura
          color: white; //texto blanco
          transform: translateY(-3px); //se eleva un poco el boton
          box-shadow: 0 6px 12px rgba(126, 87, 194, 0.3); // sombra
        }
        
        .p-menuitem-icon {
          margin-right: 0.5rem; //espacio entre el icono y el texto
        }
      }
      
      .p-highlight .p-menuitem-link {
        background: #7e57c2; //fondo pestaña activa
        color: white; //texto
      }
    }
  }
}


