<div class="section-container">
  <div class="text-content">
    <h2>Mis Estudios</h2>
    <p>Realmente he tenido la fortuna de poder estudiar varias cosas que me han llamado la atención y aprender de todo un poco.</p>
    <p>Soy Técnica en Asistencia Administrativa, Técnica en sistemas, Bachiller Técnico en Contabilidad y Finanzas, y actualmente estudio Tecnología en Desarrollo de Software. 
      Hice un curso en fotografía y uno en comida italiana. Amo aprender cosas nuevas, ya que todo lo que uno aprende siempre le sirve.</p>
    
    <div class="gallery">
      <p-galleria 
        [value]="images" 
        [(activeIndex)]="activeIndex" 
        [responsiveOptions]="responsiveOptions" 
        [containerStyle]="{'max-width': '800px', 'margin': '0 auto'}"
        [circular]="true" 
        [fullScreen]="true" 
        [showItemNavigators]="true" 
        [showThumbnails]="false"
        [showIndicators]="true">
        
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" [alt]="item.alt" style="width: 100%; max-height: 500px; object-fit: contain;"/>
        </ng-template>
        
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" [alt]="item.alt" style="display: block; width: 60px; height: 40px; object-fit: cover;"/>
          </div>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>